<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin Page</title>
  <!-- Include your CSS and other libraries here -->

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Custom CSS -->
  <link href="navbar.css" rel="stylesheet" type="text/css">
 
  <link rel="stylesheet" href="chart.css">

  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-search@3.0.2/dist/leaflet-search.min.css" />

 
  
  <!-- jQuery libraries -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
  
  <script src="/admin_ajax_req.js"></script>
  
 
</head>
<body>
  <div class="wrapper">
    <nav class="navbar">
      <!-- Your navigation content here -->
      <nav class="navbar">
        <!--	<img class="logo" src="logo.png">
          <img src="bg1.jpg">
            <h1>Hello, <%= name %></h1> -->
            <a class='hello' style="color:#e7e4e4;"> 		Welcome , <%= name %> </a>
          <ul>
            <li><a  href="/">Home</a></li>
            <li><a class="active" href="/charts">Charts</a></li>
            <li><a  href="/upload">Upload</a></li>
            <li><a  href="/leaderboard">LeaderBoard</a></li>
            <li><a href="/logout" class="btn btn-danger">Logout</a></li>
          <!--	<li><a href="#">Log Out</a></li>  -->
          </ul>
        </nav>
    
    </nav>


    
    <div class="container1">
      <div>
        <select id="monthSelector">
  <option value="01">January</option>
  <option value="02">February</option>
  <option value="03">March</option>
  <option value="04">April</option>
  <option value="05">May</option>
  <option value="06">June</option>
  <option value="07">July</option>
  <option value="08">August</option>
  <option value="09">September</option>
  <option value="10">October</option>
  <option value="11">November</option>
  <option value="12">December</option>
</select>

<select id="yearSelector">

  <option value="2021">2021</option>
  <option value="2022">2022</option>
  <option value="2023">2023</option>
  <!-- Add more years as needed -->
</select>

      </div>
        <canvas id="myChart" ></canvas>

      <div class="chart1">
    


<button id = "updateChartButton" onclick="updateChart()">Update Chart</button>
<button id="closeChartButton" onclick="closeChart()">Close Chart</button>






  </div>




</div>

   
      
      
     



</body>
</html>
